<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href="static/style.css" />
	<title>STORE!!</title>
</head>
<body>
<div>
	<a href="home.html">ok let's go back home!</a>
</div>

<div class="card">
	<h1>Hummus</h1>
	<img src="static/hummus.jpg" alt="Hummus">
	<p class="price">20 shekels</p>
	<p>we love hummus!!!</p>
	<a href="cart.html">add to cart!</a>
</div>

<div class="card">
		<h1>Cucumber</h1>
		<img src="static/cucumber.jpg" alt="Cucumber" style="width:100%">
		<p class="price">25 shekels</p>
		<p>you're  a cool cucumber!!!</p>
		<a href="cart.html">add to cart!</a>
	</div>

</body>
</html>